{% extends 'main/land.html' %}
{% load static %}

{% block title %}PDF Helper | Appointments{% endblock %}
{% block more_css %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/calendar.css' %}">
{% endblock %}

{% block content %}
<!-- Book Appointment -->
<div class="container">
    <p class="title"> My Appointments </p>
    
    {% if appointments %}
    <!-- view current appointments -->
    <div class="appointments-list">
        {% for appointment in appointments %}
        {% if appointment.status != 'cancelled' and appointment.status != 'completed' %}

        {% if forloop.counter == 6 %}
        <details>
            <summary>More Appointments</summary>
            <div class="appointments-dropdown">
        {% endif %}

        <div class="appointment">
            <!-- Find Recipient -->
            <p><strong>Recipient:</strong>
            {% if user == appointment.admin %}
                {{ appointment.user.username }}
            {% else %} 
                {{ appointment.admin.username }} 
            {% endif %}
            </p>
            <!-- Rest of fields -->
            <p><strong>Date:</strong> {{ appointment.date }}</p>
            <p><strong>Time:</strong> {{ appointment.time }}</p>
            <p><strong>Duration:</strong> {{ appointment.duration }}</p>
            <p><strong>Reason:</strong> {{ appointment.reason }}</p>
            <p><strong>Comments:</strong> {{ appointment.comments }}</p>

                        <!-- Cancel Appointments -->
            {% if appointment.status == 'scheduled' or appointment.status == 'completed' %}
            <form method="post" action="{% url 'calendar' %}">
                {% csrf_token %}
                <input type="hidden" name="action" value="cancel">
                <input type="hidden" name="appointment_id" value="{{ appointment.id }}">
                <button type="submit">Cancel</button>
            </form>
            {% endif %}
        </div>

        {% if forloop.counter > 6 and forloop.last %}
            </div>
        </details>
        {% endif %}
 
        {% endif %}
        {% endfor %}

    <!-- No Appointments -->
    {% else %}
    <p>No appointments scheduled</p>
    {% endif %}

    <!-- view past appointments -->
    {% if request.user.is_staff %}
    <div class="past-appointments">
        <form method ="post" action="{% url 'previous_apts' %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">All Apts</button>
        </form>
    </div>
    {% endif %}

    <!-- schedule a new appointment -->
    <h2 class="title"> New Appointment </h2>
    <form class="new-appointment-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="recipient">To:</label>
            <select id="recipient" name="recipient">
                <option value="">Select Recipient</option>
            <!-- admin list (recipient) -->
                {% if not request.user.is_staff %}
                    {% for admin in admins %}
                    <option value="{{ admin.id }}">{{ admin.username }}</option>
                    {% endfor %}
                {% else %}
            <!-- user list (recipient)-->
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                    {% endif %}
            </select>
        </div>

        <!-- more form fields -->
        <div class="form-group">
            <label for="reason">Reason:</label>
            <input type="text" name="reason" placeholder="Reason for appointment">
        </div>

        <div class="form-group-inline">
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date">
            </div>
            <div class="info-time">
                <label for="time">Time:</label>
                <input type="time" id="time" name="time">
            </div>
        </div>
                        
        <div class="form-group">
            <label for="duration">Duration (minutes):</label>
            <input type="number" id="duration" name="duration">
        </div>

        <div class="form-group">
            <label for="comments">Comments:</label>
            <input type="text" id="comments" name="comments" placeholder="Example: Meet me inside">
        </div>
                    
        <!-- Confirm or dismiss schedule -->
        <div class="new-actions">
            <button class="btn btn-primary" name="action" value="save" type="submit">Save</button>
            <button class="btn btn-primary" name="action" value="dismiss" type="submit">Dismiss</button>
        </div>
    </form>
</div>
{% endblock %}