{% extends 'main/land.html' %}

{% block title %}PDF Helper | Login{% endblock %}

{% block content %}
<!-- Book Appointment -->
    <p> My Appointments </p>
    <div class="container">
        <div class="calendar">

            <!-- view current appointments -->
            <div class="appointments">
                {% if appointment in appointments %}
                <div class="list">
                    appointment 1
                    appointme 2
                </div>
            </div>
            <button class="cancel" type="submit">
                Cancel <i class="cancel"></i>
            </button>

            <!-- schedule a new appointment -->
            <div class="back">
                <form method="POST">
                    {% csrf_token %}
                    <div class="reason">
                        <input type="text" name="reason" placeholder="Reason for appointment">
                    </div>
                    <div class="info">
                        <div class="date">
                            <p class="info-date">
                                <label for="date">Date:</label>
                                <input type="date" id="date" name="date">
                            </p>
                            <p class="info-time">
                                <label for="time">Time:</label>
                                <input type="time" id="time" name="time">
                            </p>
                        </div>
                        <div class="comments">
                            <p>
                                <label for="comments" placeholder="Example: Meet me inside">Comments:</label>
                                <input type="text" id="comments" name="comments">
                            </p>
                        </div>
                    </div>
                </form>

                <!-- Confirm or dismiss schedule -->
                <div class="actions">
                    <button class="save" type="submit">
                        Save <i class="save"></i>
                    </button>
                    <button class="dismiss" type="submit">
                        Dismiss <i class="close"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}