{% extends 'main/land.html' %}

{% block title %}PDF Helper | Chat{% endblock %}

{% block content %}
<h1>Chat</h1>

<div class="row">
    <!-- Admin user list-->
    <div class="col-md-4">
        <h2>Admin</h2>
        <ul>
            {% for admin in admins %}
            <li>
                <a href="{% url 'chat' %}?recipient_id={{ admin.id }}">
                    {{ admin.username }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-8">
        <h2>Chat</h2>
        {% if recipient %}
            <h3>Conversation with {{ recipient.username }}</h3>
            {% for message in messages %}
                <p>{{ message.content }} - {{ message.timestamp }}</p>
            {% endfor %}

            <!-- Form to send messages -->
            <form method="post" action="{% url 'send' recipient.id %}">
                {% csrf_token %}
                <textarea name="content" placeholder="Type Here"></textarea>
                <button type="submit">Send</button>
            </form>

        {% else %}
            <p>Select an admin to start a conversation</p>
        {% endif %}
    </div>
{% endblock %}