{% extends 'main/land.html' %}

{% block title %}PDF Helper | Chat{% endblock %}

{% block content %}
<h1>Chat</h1>

<div class="row">
    <!-- Admin user list-->
    <div class="col-md-4">
        <h2>Admin</h2>
        <ul>
            {% for admin in admins %}
            <li>
                <a href="{% url 'chat' %}?recipient_id={{ admin.id }}">
                    {{ admin.username }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- view chat -->
    <div class="col-md-8">
        <h2>Chat</h2>
        {% if recipient %}
            <h3>Conversation with {{ recipient.username }}</h3>
            {% for message in messages %}
                <div>
                    <p> {{ message.content }} - {{ message.timestamp }} </p>
                    <p> {% if message.file %}</p>
                        <form method="post" action="{% url 'add_file' message.id %}">
                            {% csrf_token %}
                            <a href="{{ message.file.url }}"> {{ message.file }}</a>
                            <button type="submit">Add File</button>
                        </form>
                        {% endif %}
                </div>
            {% endfor %}
            <div>
                <form method="post" action="{% url 'chat_delete' recipient.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="chat_delete" value="1">
                    <button type="submit">Delete Chat</button>
                </form>
            </div>

            <!-- Form to send messages -->
            <form method="post" action="{% url 'send' recipient.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea name="content" placeholder="Type Here"></textarea>
                <input type="file" name="file"></input>
                <button type="submit">Send</button>
            </form>

        {% else %}
            <p>Select an admin to start a conversation</p>
        {% endif %}
    </div>
{% endblock %}