{% extends 'main/land.html' %}
{% load static %}
 
{% block title %}PDF Helper | FILE Upload{% endblock %}

{% block more_css %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/file_upload.css' %}">
{% endblock %}

{% if user.isauthenticated %}
{% block content %}
<div class="pdf-container">
    <div class="pdf">
        <!-- Upload PDFs -->
        <h1>Upload New File:</h1>
        <form method="post" action="{% url 'pdf_registry' %}" enctype="multipart/form-data"> 
            {% csrf_token %}
            <input type="file" name="pdf_upload">
            <button type="submit">Submit</button>
        </form>

        <!-- Display uploaded PDFs & delete feature  -->
        <h2> PDFs on File: </h2>
        <form method="post">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_pdf in user_pdfs %}
                        <tr>
                            <td>
                                <a href="{{ user_pdf.pdf_file.url }}">{{user_pdf.pdf_file.name}}</a>
                            </td>
                            <td>
                                <input type="checkbox" name="pdf_delete" value="{{ user_pdf.id}}">
                            </td>
                        </tr>
                    {% empty %}
                        <td colspan="2">No PDF files uploaded yet</td>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}
{% else %}
    <p>Please log in to use PDF | Helper</p>
{% endif %}

