{% extends 'main/land.html' %}
{% load static %}

{% block title %}PDF Helper | Login{% endblock %}
{% block more_css %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row m-5 no-gutters shadow-lg">
        <div class="col-md-6 bg-white p-5">
            <h3 class="pb-3">Login</h3>
            <div class="form-style">
                <form action="/login/" method="POST">

                    {% csrf_token %}

                    <div class="form-group pb-3">
                        <input type="text" name="username" placeholder="Username" class="form-control" id="username" required>
                    </div>
                    <div class="form-group pb-3">
                        <input type="password" name="password" placeholder="Password" class="form-control" id="password" required>
                    </div>

                    <!-- This is a Remember Me Checkbox -->
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div>
                                <input type="checkbox" name="remember_me" value="1" id="remember_me">
                            </div>
                            <label for="remember_me" class="pl-2 small-text">Remember Me</label>
                        </div>
                        <div><a href="#">Forgot Password?</a></div>
                    </div>                    

                    <div class="pb-2">
                        <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2">Login</button>
                    </div>
                </form>

                <!-- Implement here log-in with google -->

                <div class="pt-4 text-center">
                    Not registered? <a href="/signup">Sign Up</a>
                </div>
            </div>
        </div>

        <!-- Logo Image -->
        <div class="col-md-6 d-none d-md-block">
            <img src="" class="img-fluid" style="min-height:100%;" alt="CMS BITCHES!" />
        </div>
        
    </div>
</div>

{% endblock %}