{% extends 'main/land.html' %}
{% load static %}

{% block title %}PDF Helper | Previous Apts{% endblock %}
{% block more_css %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/calendar.css' %}">
{% endblock %}

{% block content %}
<!-- Previous Appointment -->
<div class="container">
    <p class="title"> Previous Appointments </p>

    <!-- Return to appointments -->
    <div class="return-appointments">
        <a class="btn btn-primary" href="{% url 'calendar' %}">Return</a>
    </div>
    
    <div class="calendar">
        {% if appointments %}
        <!-- view current appointments -->
        <form method="post" action="{% url 'previous_apts' %}">
        {% csrf_token %}
            <table class="appointments-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Duration</th>
                        <th>Reason</th>
                        <th>Comments</th>
                        <th>Restore</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments %}
                    <tr>
                        <td>
                            {% if user == appointment.admin %}
                                {{ appointment.user.username }}
                            {% else %} 
                                {{ appointment.admin.username }} 
                            {% endif %}
                        </td>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time }}</td>
                        <td>{{ appointment.duration }}</td>
                        <td>{{ appointment.reason }}</td>
                        <td>{{ appointment.comments }}</td>
                        <td>
                        <!-- Restore Appointments -->
                            {% if appointment.status == 'cancelled' or appointment.status == 'completed' %}
                                <input type="checkbox" name="restore" value="{{ appointment.id }}">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Submit Changes -->
            <div class="submit-changes">
                <button type="submit">Submit</button>
            </div>

        </form>
        <!-- No Appointments -->
        {% else %}
            <p>No appointments scheduled</p>
        {% endif %}

    </div>
</div>
{% endblock %}
