{% extends 'main/land.html' %}

{% block title %}PDF Helper | Previous Apts{% endblock %}

{% block content %}
<!-- Previous Appointment -->
<p> Previous Appointments </p>
<div class="container">
    <div class="calendar">
        {% if appointments %}
        <!-- view current appointments -->
        <div class="appointments">
            <div class="list">
                {% for appointment in appointments %}
                <div class="appointment">
                    <p>Status: {{ appointment.status }}</p>
                    <p>User: {{ appointment.user.username }}</p>
                    <p>Date: {{ appointment.date }}</p>
                    <p>Time: {{ appointment.time }}</p>
                    <p>Duration: {{ appointment.duration }}</p>
                    <p>Reason: {{ appointment.reason }}</p>
                    <p>Comments: {{ appointment.comments }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
