{% extends 'main/land.html' %}
{% load static %}

{% block title %}PDF Helper | Previous Apts{% endblock %}
{% block more_css %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/pre_apt.css' %}">
{% endblock %}

{% block content %}
<!-- Previous Appointment -->
<div class="container">
    <p> Previous Appointments </p>
    <div class="calendar">
        {% if appointments %}
        <!-- view current appointments -->
        <div class="appointments">
            <div class="list">
                {% for appointment in appointments %}
                <div class="appointment">
                    <p>Status: {{ appointment.status }}</p>
                    <p>Recipient: 
                    {% if user == appointment.admin %}
                        {{ appointment.user.username }}
                    {% else %} 
                        {{ appointment.admin.username }} 
                    {% endif %}
                    </p>
                    <p>Date: {{ appointment.date }}</p>
                    <p>Time: {{ appointment.time }}</p>
                    <p>Duration: {{ appointment.duration }}</p>
                    <p>Reason: {{ appointment.reason }}</p>
                    <p>Comments: {{ appointment.comments }}</p>
                    <!-- Restore Appointments -->
                    <div actions="action">
                        <form method="post" action="{% url 'previous_apts' %}">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="restore">
                            <input type="hidden" name="restore" value="{{ appointment.id }}">
                            <button type="submit">Reschedule</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
