{% extends 'main/land.html' %}
{% load static %}

{% block title %}PDF Helper | Sign-up{% endblock %}
{% block more_css %}
<link rel="stylesheet" type="text/css" href="{% static 'main/css/signup.css' %}">
{% endblock %}

{% block content %}

    <h1>Register Now!</h1>

    <form action="{% url 'signup' %}" method="POST">

        {% csrf_token %}
        <label form="">Username</label>
        <input type="text" id="username" name="username" placeholder="username" Required>
        <br>

        <label form="">Email</label>
        <input type="email" id="email" name="email" placeholder="email" Required>
        <br>

        <label form="">Password</label>
        <input type="password" id="password1" name="password1" placeholder="Password" Required>
        <br>

        <label form="">Confirm Password</label>
        <input type="password" id="password2" name="password2" placeholder="Confirm Password" Required>
        <br>

        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
{% endblock %}