{% extends 'main/land.html' %}

{% block title %}PDF Helper | FILE Upload{% endblock %}


{% if user.isauthenticated %}
    {% block content %}
        <!-- Upload PDFs -->
        <h1>PDF | Upload</h1>
        <form method="post" action="{% url 'pdf_registry' %}" enctype="multipart/form-data"> 
            {% csrf_token %}
            <input type="file" name="pdf_upload">
            <button type="submit">Submit</button>
        </form>

        <!-- Display uploaded PDFs  -->
        <h2> PDFs on File: </h2>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for user_pdf in user_pdfs %}
                    <li>
                        <input type="checkbox" name="pdf_delete" value="{{ user_pdf.id}}">
                        <a href="{{ user_pdf.pdf_file.url }}">{{user_pdf.pdf_file.name}}</a>
                    </li>
                {% empty %}
                    <p>No PDF file uploaded yet</p>
                {% endfor %}
            </ul>
            <button type="submit">Delete Selected PDFs</button>
        </form>

        <style>
            h1, label {
                color: white;
            }
        </style>

        {% endblock %}

{% else %}
    <p>Please log in to use PDF | Helper</p>

{% endif %}

