
body {
    font-family: Arial, sans-serif;
    background-color: f4f4f4;
    line-height: 1.6;
}

p.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.calendar {
    padding: 20px;
    background-color: #fff;
    color: #333;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.calendar .appointments {
    margin-bottom: 20px;
}

.calendar .appointment p {
    margin: 5px 0;
}

.back {
    padding: 20px;
    border-top: 1px solid #ddd;
}

.back .recipient,
.back .reason,
.back .info,
.back .actions {
    margin: 10px 0;
}

.back label {
    display: block;
    margin-bottom: 5px;
}

.back input[type="text"],
.back input[type="date"],
.back input[type="time"],
.back input[type="number"],
.back select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.back .actions {
    text-align: center;
}

.back .actions {
    text-align: center;
}

.back button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.back button[name="action"][value="save"] {
    background-color: #007BFF;
}

.back button[name="action"][value="dimiss"] {
    background-color: #dc3545;
}