.calendar {
    background-color: #a6bbc4;
    padding: 20px; 
    border-radius: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.appointments-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.appointments-table thead tr {
    background-color: #f7f7f7;
}

.appointments-table th,
.appointments-table td {
    border: 1px solid #e0e0e0;
    padding: 8px 12px;
    text-align: left;
}

.appointments-table th {
    font-weight: bold;
}

.appointments-table tbody tr:hover {
    background-color: #f5f5f5;
}

.submit-changes {
    text-align: right;
}

.submit-changes button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.submit-changes button:hover {
    background-color: #0056b3;
}

.divider {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #000000;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #007BFF;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.past-appointments,
.new-appointments {
    flex: 1;
    text-align: center;
}
