/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin-top: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;  /* To wrap items if they don't fit */
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
}

/* Appointment Views */

.container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.view-list {
    list-style-type: none;
    padding: 0;
}

.view-appointment {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.view-appointment:last-child {
    border-bottom: none;
}

.btn {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; /* Spacing between buttons if there's more than one */
}

.btn:hover {
    background-color: #0056b3;
}

input[type="text"], input[type="date"], input[type="time"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button[type="submit"] {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

