.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    font-weight: 500;
    color: #555;
    margin: 10px 0;
}

.calendar {
    padding: 20px 30px;
    background-color: #ffffff;
    border-radius: 10px;
}

.appointments .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment {
    flex-basis: calc(33.333% - 20px); /* One third minus the total of the intended margin on both sides (10px + 10px) */
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box; /* This ensures that the border and padding do not add up to the width */
}

.appointment > p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.actions {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

button {
    padding: 6px 12px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

