/* previous appointments styles */

.container > p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px; 
    margin-bottom: 40px; 
    text-align: center; 
    color: #eaeaea; 
}

.container > p:after {
    content: "";
    display: block;
    margin: 20px auto 0 auto; 
    width: 50%; 
    height: 2px;
    background-color: #3498db; 
}


.return-appointments {
    margin-bottom: 20px; 
    text-align: left; 
}

.return-appointments a.btn {
    display: inline-block; 
}


.appointments {
    margin-top: 50px; /* Added space at the top for clarity */
}

.appointments .list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Space between appointments */
}

.appointment {
    width: calc(33.33% - 20px); /* Three appointments in a row with gap accounted for */
    padding: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #282c36;
    transition: background-color 0.3s;
}

.appointment p {
    margin-bottom: 10px; /* Space between appointment details */
    color: #eaeaea; /* Light text color for better contrast */
}

.appointment p:first-child {
    font-weight: 600; /* Highlight the status with bold text */
}

.actions {
    margin-top: 10px; /* Space between comments and the button */
}

.actions button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #eaeaea;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: #2c7fb6;
}

@media (max-width: 768px) {
    .appointment {
        width: 100%; /* Make appointment boxes stack on mobile */
    }
}

